
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Streamlit
.streamlit/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment files
.env

# Database files
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# VS Code
.vscode/

# Git
.git/

# Misc
*.bak
*.swp

# Node
node_modules/

# Seed data
seed_data.pyc
